.nav-bar {
  position: relative;
  color: rgb(255, 255, 255);
  top: 0;
  display: flex;
  font-size: 20px;
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-bottom: solid gray 1px;
  z-index: 6;
}
.nav-bar-color {
  color: rgb(0, 0, 0);
  border-bottom: 0.1px solid rgb(190, 190, 190);
  background-color: rgb(255, 255, 255);
}
.logo-color {
  color: rgb(255, 255, 255);
}

.logo {
  z-index: 3;
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-top: 1%;
  margin-left: 5.5%;
  position: absolute;
}

.search-bar {
  position: absolute;
  width: 30%;
  margin: 1.3% 0 0 35%;
}

.drop-down-menu {
  display: flex;
  left: 29.8%;
  top: 70%;
  z-index: 5;
  width: 65%;
  position: absolute;
}
