.slide-container {
  height: 45vh;
  margin-left: 10%;
  width: 80%;
}

.slide-page {
  background-color: rgb(227, 234, 238);
}
.slider {
  cursor: pointer;
  padding-top: 7%;
}

.each-slide > p {
  margin-left: 15%;
  width: 70%;
  color: rgb(105, 105, 105);
  font-size: 18px;
}
.each-slide > h2 > span {
  margin-top: 1.5%;
  margin-right: 0.1%;
  position: relative;
  width: 14px;
  border-top: black 2px solid;
}
